{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/iofrm-style.css' %}">
</head>
<body>
    <div class="preview-body" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="web-logo">
                        <img src="{% static 'images/logo-dark.svg' %}" alt="">
                    </div>
                    <div class="web-title">
                        Forms in style.<br>
                        For all purposes and websites.
                    </div>
                </div>
            </div>
            
                <div class="col-12 col-sm-6 col-md-4">
                    <a class="img-link" target="_blank" href="login2.html">
                        <img src="img/form2.jpg" alt="">
                    </a>
                </div>
                
            </div>
        </div>
    </div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>